@(r: play.mvc.Http.Request, u: utils.Utils, page_settings: utils.app.page.PageSettings, form_delete_action: String, form_cancel_action: String, delete_title: String, delete_message: String)

@base.bo_body(r, u, u.l.l(r, delete_title), page_settings) { } {

	<div class="container-fluid">
	  	<h1>@delete_title</h1>

	  	<form class="" action="@(form_delete_action)" method="post">
	  		@helper.CSRF.formField(r.asScala)

	  		<p class="alert alert-warning">
	  			@Html(delete_message)
	  		</p>

			<div class="mt-3">
	  			<button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> @u.l.l(r, "general.label.delete")</button>
	  			<a class="btn btn-outline-primary" href="@(form_cancel_action)"><i class="fa fa-chevron-circle-left"></i> @u.l.l(r, "general.label.cancel")</a>
	  		</div>

		</form>
	</div>
} { }
