@(r: play.mvc.Http.Request, u: utils.Utils, pagination:  utils.app.page.Pagination)

@if(pagination != null){
	<nav aria-label="@u.l.l(r, "general.label.page_navigation")">
	  	<ul class="pagination justify-content-center">
	    	<li class="page-item @if(!pagination.hasPreviousPage()){ disabled }">
	      		<a class="page-link" href="#previous_page" onclick="setPageAndSubmit(@(pagination.getCurrentPage() - 1))" tabindex="-1"><i class="fa fa-chevron-left"></i></a>
	    	</li>
	    	<li class="page-item">
	    		<a class="page-link">
	    			@u.l.l(r, "general.label.page") @pagination.getCurrentPage() / @pagination.getNumberOfPages()
	    			[@pagination.getCurrentRecordsStart() - @pagination.getCurrentRecordsEnd()]
	    		</a>
	    	</li>
	    	<li class="page-item @if(!pagination.hasNextPage()){ disabled }">
	      		<a class="page-link" href="#next_page" onclick="setPageAndSubmit(@(pagination.getCurrentPage() + 1))"><i class="fa fa-chevron-right"></i></a>
	    	</li>
	  	</ul>
	</nav>
}