@(r: play.mvc.Http.RequestHeader, u: utils.Utils)

@import models.db.app.config.ApplicationConfiguration
@import utils.app.config.AppConfig
@import utils.app.menu.MenuHelper
@import utils.language.LanguageUtils

@defining(AppConfig.getInstance()){ app_config =>
	@if(app_config != null){
		<nav class="navbar navbar-expand-xl navbar-light @if(!app_config.getEnvironment().equals(ApplicationConfiguration.ENV_PRODUCTION)){testing}">
            <div class="navbar-brand">
                <a class="navbar-institution" href="https://www.iscte-iul.pt"><img src="@routes.Assets.versioned("images/logo_iscte_pos_detailed_" + u.l.getLanguage(r) + ".svg")"  alt="Iscte - Instituto Universitário de Lisboa" /></a>

                <span class="separator">|</span>

                <a class="navbar-app" href="@app_config.getBaseURL()">@u.l.lto(r, app_config, "getApplicationName")</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_supported_content" aria-controls="navbar_supported_content" aria-expanded="false" aria-label="@u.l.l(r, "general.label.toggle_navigation")">
                <span class="navbar-toggler-icon"></span>
            </button>

            @if(!app_config.getEnvironment().equals(ApplicationConfiguration.ENV_PRODUCTION)){
                <span class="environment-message">@u.l.l(r, "system.label.env_" + app_config.getEnvironment())</span>
            }

            <div class="collapse navbar-collapse" id="navbar_supported_content">
                @defining(u.menu_helper.getTopPublicMenu()){ top_public_menu =>
                    @if(top_public_menu != null && top_public_menu.canBeShownInContext(r, u)){
                        <ul class="navbar-nav mr-auto">
                            @defining(top_public_menu.getContextualChildren(r, u)){ children =>
                                @if(children != null){
                                    @for(option <- children){
                                        <li class="nav-item">
                                            <a class="nav-link" href="@option.getURL()">
                                                <i class="@option.getIconCSSClass()"></i> @u.l.lto(r, option, "getLabel")
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    }
                }

			    <div class="languages">
					<span class="language-label">
	                    <a class="text-uppercase @if(u.l.getLanguage(r).equals(LanguageUtils.LANG_PT)){disabled}" href="@controllers.routes.LanguageController.setLanguage(LanguageUtils.LANG_PT, null)">@(LanguageUtils.LANG_PT)</a>
		            </span>

		            <span class="language-label">|</span>

	                <span class="language-label">
	                    <a class="text-uppercase @if(u.l.getLanguage(r).equals(LanguageUtils.LANG_EN)){disabled}" href="@controllers.routes.LanguageController.setLanguage(LanguageUtils.LANG_EN, null)">@(LanguageUtils.LANG_EN)</a>
	                </span>
                </div>

				<ul class="navbar-nav my-2 my-lg-0 ml-lg-3">

                    @defining(u.menu_helper.getTopUserMenu()){ top_user_menu =>
                        @if(top_user_menu != null && top_user_menu.canBeShownInContext(r, u)){
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbar_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="@top_user_menu.getIconCSSClass()"></i> @u.l.lto(r, top_user_menu, "getShortLabel")
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar_dropdown">
                                    @defining(top_user_menu.getContextualChildren(r, u)){ children =>
                                        @if(children != null){
                                            @for(option <- children){
                                                @if(option.hasDividerBefore()){
                                                    <div class="dropdown-divider"></div>
                                                }
                                                <a class="dropdown-item" href="@option.getURL()">
                                                    <i class="@option.getIconCSSClass()"></i> @u.l.lto(r, option, "getLabel")
                                                </a>
                                            }
                                        }
                                    }
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
		</nav>
	}
}
