@(r: play.mvc.Http.RequestHeader, u: utils.Utils, title: String, page_settings: utils.app.page.PageSettings)(custom_head: Html)(content: Html)(custom_javascript: Html)

@if(page_settings == null){
    @* If page settings are not defined, the system will load a default set of page settings *@
    @body(r, u, title, new utils.app.page.PageSettings(u.l.getLanguage(r), u.l.getAlternateLanguage(r), null, null, r.uri(), controllers.routes.LanguageController.setLanguage(u.l.getAlternateLanguage(r), r.uri()).toString()))(custom_head)(content)(custom_javascript)
}else{
    <!DOCTYPE html>
    <html @if(page_settings.getLanguageCode() != null){ lang="@page_settings.getLanguageCode()" }>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            @* Custom Meta Tags *@
            @if(page_settings.getMetaTags() != null){
                @for((key, value) <- page_settings.getMetaTags()){
                    <meta name="@(key)" content="@(value)">
                }
            }

            <title>@title</title>

            <link rel="stylesheet" media="screen" type="text/css" href="@page_settings.getMainCSSURL()">
            <link rel="shortcut icon" type="image/png" href="@page_settings.getFaviconURL()">
            @if(page_settings.getAlternateLanguageCode != null && page_settings.getAlternateURL() != null){
                <link rel="alternate" hreflang="@page_settings.getAlternateLanguageCode()" href="@page_settings.getAlternateURL()">
            }

            @* Custom HEAD code (for extra CSS or other tags) *@
            @custom_head
        </head>
        <body>
            @body_topnavbar(r,u)

            <div class="content">
                @* Breadcrumbs *@
                @if(page_settings.getBreadcrumbs() != null && page_settings.getBreadcrumbs().getElements() != null){
                    <nav aria-label="breadcrumbs">
                        <ol class="breadcrumbs">
                            @for(element <- page_settings.getBreadcrumbs().getElements()){
                                @if(element.isActive()){
                                    <li class="breadcrumb-item active" aria-current="page">@element.getTitle()</li>
                                }else{
                                    <li class="breadcrumb-item"><a href="@element.getURL()">@element.getTitle()</a></li>
                                }
                            }
                        </ol>
                    </nav>
                }

                @content
            </div>

            <!-- Jquery is required by Bootstrap -->
            <script src="@controllers.routes.Assets.versioned("javascripts/dependencies/jquery-3.4.1.min.js")" type="text/javascript"></script>
            <!-- Bootstrap (full bundle with JS dependencies - Popper, Tooltip) -->
            <script src="@controllers.routes.Assets.versioned("stylesheets/bootstrap-scss-utils/bootstrap/js/bootstrap.bundle.min.js")" type="text/javascript"></script>
            <!-- Bootbox (including locales) - http://bootboxjs.com/ -->
            <script src="@controllers.routes.Assets.versioned("javascripts/dependencies/bootbox.all.min.js")" type="text/javascript"></script>
            <!-- Moment.js (and the corresponding locale based on the current lang -->
            <script src="@controllers.routes.Assets.versioned("javascripts/dependencies/moment.min.js")" type="text/javascript"></script>
            <script src="@controllers.routes.Assets.versioned("javascripts/dependencies/moment." + u.l.getLanguage(r) + ".js")" type="text/javascript"></script>
            <!-- Bootstrap DateTime Picker (http://eonasdan.github.io/bootstrap-datetimepicker/) -->
            <script src="@controllers.routes.Assets.versioned("javascripts/dependencies/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

            <!-- Javascript reverse routes -->
            <script src="@controllers.routes.ApplicationController.javascriptRoutes()" type="text/javascript"></script>
            <!-- Javascript messages -->
            <script src="@controllers.routes.ApplicationController.javascriptMessages()" type="text/javascript"></script>

            <!-- Main custom javascript file -->
            <script src="@controllers.routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
            <!-- Validation tools -->
            <script src="@controllers.routes.Assets.versioned("javascripts/validation.js")" type="text/javascript"></script>

            @custom_javascript
        </body>
    </html>
}