@(r: play.mvc.Http.RequestHeader, u: utils.Utils, page_settings: utils.app.page.PageSettings, error_title: String, error_msg: String, exception: java.lang.Exception, is_html: Boolean)

@base.body(r, u, error_title, page_settings) { } {

	<div class="container-fluid">
		<h1>@error_title</h1>

		<p class="alert alert-danger">
			@if(is_html){ @Html(error_msg) }else{ @error_msg }
		</p>

		<p>
			<a class="" data-toggle="collapse" href="#more_details_box" role="button" aria-expanded="false" aria-controls="collapseExample">
		    	@u.l.l(r, "general.label.more_details")
		  	</a>
		</p>

		@if(exception != null){
			<div class="collapse" id="more_details_box">
			  	<div class="callout callout-danger">
					<h5>@u.l.l(r, "general.label.more_details")</h5>
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
					<p><b>@u.l.l(r, "general.label.error")</b>: @exception.getMessage()</p>
					<pre class="top-padder-15"><code>@u.other_utils.printStackTrace(exception)</code></pre>
				</div>
			</div>
		}
	</div>
} { }