@(r: play.mvc.Http.Request, u: utils.Utils, page_settings: utils.app.page.PageSettings)

@base.body(r, u, "Tests", page_settings) { } {
	<div class="container-fluid mt-3">
		<div class="mb-3">
			<h1>Tests</h1>
			<div class="list-group">
				<a href="@controllers.routes.TestController.bufferMail()" class="list-group-item list-group-item-action">Add an e-mail to the buffer</a>
				<a href="@controllers.routes.TestController.authenticatedPage()" class="list-group-item list-group-item-action">Access a page only for authenticated users</a>
				<a href="@controllers.routes.TestController.authenticatedPageForAdmin()" class="list-group-item list-group-item-action">Access a page only for authenticated administrators</a>
				<a href="@controllers.routes.TestController.generatePDFDocument()" class="list-group-item list-group-item-action">Generate PDF Document</a>
				<a href="@controllers.routes.TestController.generateExcelDocument()" class="list-group-item list-group-item-action">Generate Excel Document</a>
				<a href="@controllers.routes.TestController.generateWordDocument()" class="list-group-item list-group-item-action">Generate Word Document</a>
				<a href="@controllers.routes.TestController.getGeoIPData()" class="list-group-item list-group-item-action">Get Geo IP data</a>
				<a href="@controllers.routes.TestController.formGeneratorExample()" class="list-group-item list-group-item-action">Form Generator</a>
			</div>
		</div>
	</div>
} { }