
/*******
* Bootstrap variable overrides to adjust the theme
********/

// Body background color
$body-bg: #fefefe;
// Body color
$body-color: #111;

// Font-size (rem in relation to the browser default size: usually 16px)
$font-size-base: 0.9rem;

// Whether or not to use rounded elements
$enable-rounded: false;
// Whether or not to use shadowed elements
$enable-shadows: true;
// Enables predefined gradients via background-image styles on various components.
$enable-gradients: false;
// Enables predefined transitions on various components.
$enable-transitions: true;
// Enables the generation of CSS classes for the grid system (e.g., .container, .row, .col-md-1, etc.).
$enable-grid-classes: true;
// Enables pseudo element caret on .dropdown-toggle.
$enable-caret: true;
// Enables styles for optimizing printing.
$enable-print-styles: true;
// Enables adjustments in fonts (as responsiveness acts)
$enable-responsive-font-sizes: true;

// Localization for a custom text in a Bootstrap component (in this case, the file browser input)
$custom-file-text: (
  	en: "Browse File",
  	pt: "Escolher Ficheiro"
);

// Changing base theme colors
$primary: #0D28C2;
$banner: #f5f4f2;
$secondary: darken($primary, 15%);;
$info: lighten(desaturate($primary, 20%), 43%);
$success: #25B748;
$danger: #E21F1B;
$warning: #FFCC00;
$light: #fefefe;
$dark: #212121;

// Color for background of <mark></mark>
$mark-bg: transparentize(desaturate(lighten($warning, 30%), 30%), 0.4);

// Define the separator for breadcrumbs
$breadcrumb-divider: quote(">");
$breadcrumb-divider-color: $dark;
$breadcrumb-active-color: $dark;

// Navbar
$navbar-institution-logo-size: 74px;
$navbar-light-brand-color: $primary;
$navbar-light-brand-hover-color: $primary;
$navbar-dark-brand-color: $light;
$navbar-dark-brand-hover-color: $light;

// Button
$btn-transition: none;

// Font
$font-weight-lighter: 400;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;