@import 'configuration';
@import 'bootstrap-scss-utils/scss/_bootstrap_wrapper.scss';
@import 'bootstrap-scss-utils/scss/_utils.scss';
@import 'font_configuration';
@import 'font-awesome/font-awesome.scss';
@import 'datetimepicker/bootstrap-datetimepicker-build.scss';
@import 'badge';
@import 'navbar';
@import 'math/math.scss';

$primary-light: transparentize(desaturate(lighten($primary, 30%), 30%), 0.8);
$secondary-light: transparentize(desaturate(lighten($secondary, 30%), 30%), 0.8);

html, body {
	@extend .font-default;
	@extend .font-base;
	margin: 0;
	padding: 0;
}

// Hide vue.js elements while loading (except for the .loading-block)
[v-cloak] > * {
	display: none;
}
.loading-block {
	display: none;
}
[v-cloak] > .loading-block {
	display: block;
}

// Add a toggle icon on collapse elements
.toggle-icon {
	float: right;
	margin-top: 0.2rem;
}
[data-toggle="collapse"] .toggle-icon.fa:before {
  	content: $fa-var-chevron-circle-up;
}
[data-toggle="collapse"].collapsed .toggle-icon.fa:before {
  	content: $fa-var-chevron-circle-down;
}

// Breadcrumbs
.breadcrumbs {
	@extend .breadcrumb;
	@extend .small;
	margin-bottom: 0;
	background-color: $body-bg;
}

// Value groups to describe complex objects with several properties
.value-group {
	margin: $spacer 0;
	border: 1px solid $gray-200;
	@if $enable-rounded == true {
		border-radius: $border-radius;
	}

	.label {
		font-size: 0.8rem;
		font-weight: bold;
		background-color: $gray-200;
		padding: ($spacer / 2) $spacer;
	}

	.value {
		font-size: 0.9rem;
		padding: ($spacer / 2) $spacer;
	}
}

// Adjusting form groups
.form-group {
	margin: $spacer 0;

	label {
		font-weight: bold;
	}
}

// Making modals more contextual ($theme-colors is defined in bootstrap variables)
@each $color, $value in $theme-colors {
  	.bootbox.modal.#{$color} {
  		.modal-header {
    		@include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
    	}
  	}
}

// A container for presenting logs
.log-container {
	max-height: 300px;
	overflow: auto;
	padding: 1rem;
	background-color: $gray-900;
	color: $gray-200;
}

// The application's sidebar
.sidebar-menu {
	.user-info {
		padding-top: 20px;
		padding-bottom: 20px;

		.photo {
			width: 100px;
			height: 100px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 50%;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		> .identification {
			@extend .text-center;

			> .name {
				@extend .medium;
			}

			> .role {
				@extend .small;
				font-weight: 		bold;

				a {
					@extend .small;
					font-weight: 		bold;
				}
			}
		}
	}

	.menu {
		margin-bottom: ($spacer / 2);

		.menu-label {
			a {
				display: block;
				padding: ($spacer / 2);
				background-color: $secondary;
				color: $body-bg;
				cursor: pointer;
				@if $enable-rounded == true {
					border-radius: $border-radius;
				}
			}
		}

		.menu-options {
			.options {
			    display: flex;
			    flex-direction: column;

				.menu-option {
				    position: relative;
				    display: block;
				    margin: ($spacer / 10) 0;
				    padding: ($spacer / 4) ($spacer / 2);
				    width: 100%;
				    color: $secondary;
				}

			    .menu-option.active {
				    z-index: 2;
				    color: $secondary;
				    background-color: $secondary-light;
				    @if $enable-rounded == true {
				    	border-radius: $border-radius;
				    }
			    }
			}
		}
	}
}

// Miscelaneous util classes

.no-decoration {
  	text-decoration: none !important;
}

.force-inline {
	display: inline !important;
}
