@(r: play.mvc.Http.Request, u: utils.Utils, page_settings: utils.app.page.PageSettings, current_role: models.db.user.Role, available_roles: List[models.db.user.Role])

@base.bo_body(r, u, u.l.l(r, "user.title.change_role"), page_settings) { } {

    <div class="container-fluid">

      	<h1>@u.l.l(r, "user.title.change_role")</h1>

        @base.flash_form_result(r, u.l)

      	<form action="@controllers.bo.routes.BackofficeUserController.submitRoleChange()" method="post">
            @helper.CSRF.formField(r.asScala)

            <div class="form-row mt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="role">@u.l.l(r, "user.label.choose_role")</label>
                        <select name="role" class="custom-select" id="role">
                            @if(available_roles != null){
                                @for(role <- available_roles){
                                    <option value="@role.getID()" @if(role.getID().equals(current_role.getID())){ selected }>@u.l.lto(r, role, "getLabel")</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary"><i class="fa fa-exchange"></i> @u.l.l(r, "user.label.change_to_role")</button>
      	</form>
    </div>
} { }
