@(r: play.mvc.Http.Request, u: utils.Utils, page_settings: utils.app.page.PageSettings)

@base.bo_body(r, u, u.l.l(r, "system.title.menu_management"), page_settings) { } {

	<div class="container-fluid">

	  	<h1>@u.l.l(r, "system.title.menu_management")</h1>

	  	@helper.CSRF.formField(r.asScala)

	  	<div id="app" v-cloak>
	  		<menu-manager :root_menus="menu_data" :lang="language" @@updated-event="updatedEventReceived"></menu-manager>

	  		<div class="loading-block">
	  			<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Loading...</span>
	  		</div>
	  	</div>

	</div>
} {
    @base.vue_dependency()

    <script src="@controllers.routes.Assets.versioned("javascripts/vue/components/menu_management.js")" type="text/javascript"></script>

	<script type="text/javascript">
		var app = new Vue({
		  	el: '#app',
		  	data: {
		  		menu_data: [],
		    	language: "@u.l.getLanguage(r)"
		  	},
		  	methods: {
				updatedEventReceived: function () {
					console.log("Received update");
					// Received updated-event from child, will update the whole thing
					loadMenuData();
				}
			}
		});

		function loadMenuData(form_id){
			jsRoutes.controllers.ajax.AJAXSystemController.getMenuData().ajax().done(function(data){
				if(data && data.data && Array.isArray(data.data)){
					app.menu_data = data.data;
					app.language = data.language;
				}else {
					showDialog('danger', messages('error.label.unexpected_error'), messages("general.text.operation_error"));
				}
			}).fail(function(jqxhr){
				try{
					console.log(jqxhr.responseText);
					var data = JSON.parse(jqxhr.responseText);
					if(data && data.error_message){
						showDialog('danger', messages('error.label.unexpected_error'), data.error_message);
					}
				}catch(err) {
					console.error(err);
					showDialog('danger', messages('error.label.unexpected_error'), messages("general.text.operation_error"));
				}
			});
		}

		$(document).ready(function(){
			loadMenuData();
		});

		function showDialog(_theme, _title, _message){
			bootbox.setLocale(this.lang).alert({
				message: _message,
				title: _title,
				className: _theme
			});
		}

		function showConfirmDialog(_theme, _title, _message, _callback){
			bootbox.setLocale(this.lang).confirm({
				message: _message,
				title: _title,
				className: _theme,
				callback: _callback
			});
		}

	</script>
}
