@(r: play.mvc.Http.Request, u: utils.Utils, page_settings: utils.app.page.PageSettings, user: models.db.user.User, can_impersonate: Boolean)

@base.bo_body(r, u, u.l.l(r, "system.title.user"), page_settings) { } {

	<div class="container-fluid">

	  	<h1>@u.l.l(r, "system.title.user")</h1>

	  	@base.flash_form_result(r, u.l)

	  	@if(user == null){
	  		<p class="danger-fg-color"><b>@u.l.l(r, "error.label.unexpected_error")</b></p>
	  		<p class="alert alert-danger">@u.l.l(r, "error.text.unexpected_error"): @u.l.l(r, "general.text.user_not_found")</p>
	  	}else{
			<div class="row">
				<div class="col-3">
					@defining(user.getUserPhotoURL(r)){ user_photo =>
						@if(user_photo != null){
							<img src="@(user_photo)" class="img-fluid" alt="User photo" />
						}
					}
				</div>

				<div class="col-9">
					<div class="row mb-3">
						<div class="col-2">
							<div class="value-group">
								<div class="label">@u.l.l(r, "user.label.id")</div>
								<div class="value">@user.getID()</div>
							</div>
						</div>

						<div class="col-4">
							<div class="value-group">
								<div class="label">@u.l.l(r, "user.label.username")</div>
								<div class="value">@user.getUsername()</div>
							</div>
						</div>

						<div class="col-6">
							<div class="value-group">
								<div class="label">E-Mail</div>
								<div class="value">@user.getEmail()</div>
							</div>
						</div>

						<div class="col">
							<div class="value-group">
								<div class="label">@u.l.l(r, "user.label.name")</div>
								<div class="value">@user.getDisplayName() (@user.getName())</div>
							</div>
						</div>

						<div class="col">
							<div class="value-group">
								<div class="label">@u.l.l(r, "user.label.possible_roles")</div>
								<div class="value">
									@if(user.getPossibleRoles() != null){
							  			@for(role <- user.getPossibleRoles()){
							  				@u.l.lto(r, role, "getLabel");
							  			}
							  		}
								</div>
							</div>
						</div>
					</div>

					<div class="mt-3">
						<a href="@controllers.bo.routes.BackofficeSystemController.renderEditUserForm(user.getID())" class="btn btn-outline-primary"><i class="fa fa-edit"></i> @u.l.l(r, "general.label.edit")</a>
						<a href="@controllers.bo.routes.BackofficeSystemController.renderUserLog(user.getID())" class="btn btn-outline-secondary"><i class="fa fa-list"></i> @u.l.l(r, "system.label.user_log")</a>
						@if(can_impersonate){
							<a href="@controllers.bo.routes.BackofficeSystemController.renderImpersonateUserConfirmation(user.getID())" class="btn btn-outline-danger"><i class="fa fa-user"></i> @u.l.l(r, "system.title.impersonate_user")</a>
						}
					</div>
				</div>
			</div>
	  	}

	</div>
} { }
