@(r: play.mvc.Http.Request, u: utils.Utils, page_settings: utils.app.page.PageSettings, user: models.db.user.User)

@base.bo_body(r, u, u.l.l(r, "system.title.impersonate_user"), page_settings) { } {

	<div class="container-fluid">

	  	<h1>@u.l.l(r, "system.title.impersonate_user")</h1>

	  	@if(user == null){
	  		<p class="danger-fg-color"><b>@u.l.l(r, "error.label.unexpected_error")</b></p>
	  		<p class="alert alert-danger">@u.l.l(r, "error.text.unexpected_error"): @u.l.l(r, "general.text.user_not_found")</p>
	  	}else{
	  		<form action="@controllers.bo.routes.BackofficeSystemController.submitImpersonateUserConfirmation(user.getID())" method="post">
	  			@helper.CSRF.formField(r.asScala)

	  			<p class="alert alert-warning">@u.l.la(r, "system.text.impersonate_confirmation", user.getDisplayName())</p>

	  			<button class="btn btn-success" type="submit"><i class="fa fa-user"></i> @u.l.l(r, "system.title.impersonate_user")</button>
	  			<a href="@controllers.bo.routes.BackofficeSystemController.renderUser(user.getID())" class="btn btn-outline-danger"><i class="fa fa-chevron-circle-left"></i> @u.l.l(r, "general.label.cancel")</a>
	  		</form>
	  	}

	</div>
} { }
