@(r: play.mvc.Http.Request, u: utils.Utils, page_settings: utils.app.page.PageSettings, search_term: String)(search_content: Html)

@base.bo_body(r, u, u.l.l(r, "system.title.user_management"), page_settings) { } {

	<div class="container-fluid">

		<div class="float-right small">
			<a href="@controllers.bo.routes.BackofficeSystemController.renderAllUserLogs()" class="btn btn-outline-primary"><i class="fa fa-list"></i> @u.l.l(r, "system.title.users_logs")</a>
		</div>

	  	<h1>@u.l.l(r, "system.title.user_management")</h1>

		<form class="form-paginate-results validate-form form-inline" action="@controllers.bo.routes.BackofficeSystemController.submitUserManagement()" method="post">
			@helper.CSRF.formField(r.asScala)

			<input type="hidden" name="page" value="1" />

			<div class="form-group">
				<label for="search_term">@u.l.l(r, "system.label.search_users")</label>
		  		<input type="search" class="ml-3 form-control validate-not-empty validate-blur validate-no-feedback" name="search_term" id="search_term" value="@(search_term)" placeholder="@u.l.l(r, "search.label.search_term")" aria-label="@u.l.l(r, "search.label.search_term")" autofocus>
			</div>

			<button class="btn btn-primary ml-3 mt-3" type="submit"><i class="fa fa-search"></i> @u.l.l(r, "search.label.search")</button>
		</form>

		@if(search_content != null){
			<hr/>
			@search_content
		}
	</div>
} { }
